*{
    padding: 0%;
    margin: 0%;
}
.header{
    height: 60px;
    background-color: rgb(246, 237, 237);
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: white;

}
.logo{
    display: flex;
}
.logo img{
    height: 30px;
    padding-top: 12px;
    padding-right: 6px;
}
.headermiddle {
    padding-top: 20px;
    
}
.headerh1{
    padding-top: 10px;
    /* padding-left: 30px; */
    color: rgb(42, 42, 97);
}
.headerright{
    padding-top: 20px;
}
.headermiddle a{
    padding-right: 25px;
    text-decoration: none;
    
    
}
.highlight{
    color: rgb(229, 93, 19);
}

.headermiddle a:hover{
    border-radius: 20px solid gray;
    border-bottom: 2px solid gray;;
}
.images{
    height: 20px;
    padding-right: 10px;
    color: white;
}
.nav{
    background-image: url(images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}
.heading{
    padding-bottom: 30px;
    color: rgb(42, 42, 97);

}
.nav{
    text-align: center;
    align-content: center;
    padding-right: 500px;
   
}
p{
    padding-bottom: 30px;
}
button{
    height: 30px;
    width: 130px;
    background-color: rgb(229, 93, 19);
    color: white;
    border-radius: 3px;
    border: none;

}
button:hover{
    background-color:rgb(42, 42, 97); 
    cursor: pointer;
}
.feature{
background-color: rgb(246, 237, 237);

padding: 10px;
}
.featureh1{
    text-align: center;
    padding-top: 40px;

}
.pictures{
display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    padding-left: 100px;
}
.features{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px;
    align-content: center;
}
h2{
    padding-top: 10px;
}
.p1{
padding-top: 15px;
}
.subdiv{
    background-color:white;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin-right: 30px;
    padding: 20px;
    border: 2px solid rgb(246, 237, 237);
border-radius:12px; 
transition: transform 0.2s ease-in;
}
.subdiv:hover{
  transform: translatey(-10px);
}
.picturesmeat{
    width: 180px;
}
.footer{
    height: 270px;
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-evenly;
    padding-top: 20px;
}
.p_footer{
    padding-top: 10px;
}
.footer-ul li{
    padding-bottom: 10px;
    list-style: none;
}
.footerhead{
    
padding-bottom: 7px;
}
.footericons img{
    height: 40px;
    width: 40px;
    padding: 20px 20px;
}